.img-interactive {
    margin-top: 60%;
}
.session2 {
    width: 550px;
    margin-top: 312%;
    background-color: white

}
.session2__title {
    font-size: 2rem;
    padding-top: 10%;
    padding-left: 12%;
    background-color: white;

}
.session2__description {
    margin-top: 0%;
    font-size: 1.5em;
    color: rgba(128, 128, 128, 0.952);
    padding-left: 12%;
    background-color: white;

}
.creations__title{
    font-size: 2em;
    margin-top: 20%;

}

.see-all {
    box-sizing: border-box;
    border: 1px solid black;
    width: 190px;
    height: 50px;
    margin-top: 55%;
    font-size: 28px;
    text-align: center;
}

.img-description1 {
    display: inline-flexbox;
    position: absolute;
    margin-top: 29%;
    margin-left: 8%;
    color: white;
}
.img-description2 {
    display: inline-flexbox;
    position: absolute;
    color: white;
    margin-left: 5%;
    margin-top: 30%;
}