footer{
    background-color: black;
    padding: 20px;

}  
.logo-footer {
    margin-left: 9%;
}
.social {
    margin-left: 58%;
    margin-top: 5%;

}
.menu-footer {   
    margin: 5%;
    color: white;
    margin-top: 0%;
}
.menu-item {   
    margin: 1%;
    display: inline;
   
}
.copyright {
    margin-left: 67%;
    margin-top: 50px;
    color: white;
}
