.menu__item {
    display: inline;
    color: white;
    padding-left: 2px;
}
.menu {
    position: absolute;
    font-size: 1.rem;
    margin-left: 70%;
    margin-top: 4%;
}

.img-hero {
    position: absolute;
    width: 100%;
}
.logo {
    margin-left: 5%;
    margin-top: 3%;
    position: absolute;
}
h1 {
   padding: 3.5%;
   font-weight: normal
}
.title {
    position: absolute;
    box-sizing: border-box;
	border: 1.5px solid #f3f3f3;
    width: 31%;
    height: 30%;
    margin-top: 5%;
    top: 15%;
    margin-left: 10%;
    color: #f3f3f3;
    padding: auto;
}
