* {
    margin: 0px;
    padding: 0px;
}

.header__ {


}

header__ {

}
.menu__item {
    display: inline;
    color: white;

}

h1 {
    box-sizing: border-box;
	border: 1px solid #000000;
    width: 370px;
    height: 160px;
    padding: 2%;


}
.banner {
    position: relative;
	margin: 0 auto;
}
.session2 {
    box-sizing: border-box;
	border: 1px solid #000000;
    width: 550px;
    height: 220px;

}
.session2__title {
    font-size: 30px;
    margin-left: 10%; 
    margin-right: 10%;
}
.session2__description {
    font-size: 16px;
    margin-left: 10%; 
    margin-right: 10%;
}
.img-groups {
    display: inline-block;
}
.creations {
    font-weight: bold;
    font-size: 25px;

}
